.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(146, 119, 255);
  border-radius: 5px;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 20px 0;
}

.TodoItem > input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  appearance: none;
  background-color: white;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 12px;
}

.TodoItem > input[type="checkbox"]:checked {
  border: 1px solid #5538ee;
  background: #6b4eff;
}

.TodoItem .text {
  flex: 1;
  color: white;
  font-size: 1.6rem;
}

.TodoItem .text.done {
  text-decoration: line-through;
}

.TodoItem .date {
  font-size: 0.875rem;
  color: white;
}

.TodoItem button {
  cursor: pointer;
  background: none;
  font-size: 0.875rem;
  border: none;
  border-radius: 4px;
  margin-right: 22px;
  display: flex;
}

.TodoItem button .trash {
  color: white;
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 12px;
}

.TodoItem .trash:hover {
  background-color: #6b4eff;
}
