.TodoList > input {
  width: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid rgb(211, 209, 209);
  margin-bottom: 30px;
}

.TodoList > input:focus {
  outline: none;
  border-bottom: 1px solid #5538ee;
}

.TodoList .radioWrapper {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.TodoList .radioWrapper li {
  display: flex;
  align-items: center;
}

.TodoList input[type="radio"] {
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.TodoList ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
