.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
}
